
    <footer>
        <p>Abel-designs | Api from GOOGLE BOOKS API | &copy; 2021</p>
    </footer>

    </div><!-- container -->

    
    <script>
        let menuButton = document.querySelector(".container header .fa-navicon")
        let menu = document.querySelector(".container header nav")

        menuButton.addEventListener("click", function() {
            if(menu.style.display == "block") {
                menu.style.display = "none";
            }
            else {
                menu.style.display = "block";
            }
        })
    </script>
</body>
</html>
