<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <title>Books | <%= title %></title>
</head>
<body>
    <div class="container">
    <header>
        <div class="logo">
            <img src="/img/books_logo.png" alt="" width="20px" height="25px">
            <h4>PRO <span>BOOKS</span></h4>
        </div>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/Archive">SAVED</a></li>
                <li><a href="#">CATEGORIES  </a>
                    <ul>
                    <li><a href="/#books">Fantasy</a></li>
                    <li><a href="/#books">Adventure</a></li>
                    <li><a href="/#books">Action</a></li>
                    <li><a href="/#books">War</a></li>
                    <li><a href="/#books">Romance</a></li>
                    <li><a href="/#books">comedy</a></li>
                    </ul>                      
                </li>
            </ul>
        </nav>
        <i class="fa fa-navicon"></i>
        <div class="user">
            <div class="man">
                <img src="/img/abstract_man.jpg" alt="" width="20px" height="20px">
            </div>
            <a href="/Archive">Archive</a>
        </div>
    </header>