
    <%- include("./partials/head.ejs") %>

    <section class="error">
        <div class="front-text">
            <h1>404 error</h1>
            <h1>Not found</h1>
        </div>
        <aside>
            <p>We couldn't find that page | try some of the menus</p>
        </aside>
    </section>

    <%- include("./partials/foot.ejs") %>